@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root{
    --darkgreen:#00474B;
    --green:#26C2AE;
    --lightgreen:#C5E4E7;
    --paragraph:#5E7A7D;
    --input:#F3F9FA;
}

body{
    font-family: 'Space Mono', monospace;
    width: 100%;
    height: 100vh;
    background-color: var(--lightgreen);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 41px;
}

main{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px 25px 0 0 ;
    padding: 32px;
    gap: 32px;
}

section{
    display: flex;
    flex-direction: column;
}

.label-bill{
    color: var(--paragraph);
    font-size: 16px;
    line-height: 23.7px;
    font-weight: 700;
}

.input-num{
    border: 0;
    background-color: var(--input);
    width: 311px;
    height: 48px;
    border-radius: 5px;
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 19px 17px;
    text-align: right;
    color: var(--darkgreen);
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    padding-right: 17px;
}

.input-num:hover{
    border: 2px solid #26C2AE;
    cursor: pointer;
}

.percent-p{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--paragraph);
    margin-top: 32px;
    margin-bottom: 16px;
}

.percent{
    display: flex;
    flex-wrap: wrap;
    gap: 16.5px;
}

#custom{
    background-color: var(--input);
    color: var(--paragraph);
    max-width: 138px;
    height: 48px;
    border: 0;
    border-radius: 5px;
    font-size: 24px;
    line-height: 34.5px;
}

#custom{
    border: 2px solid #26C2AE;
    cursor: pointer;
}

.how-many{
    width: 147px;
    height: 48px;
    border: 0;
    border-radius: 5px;
    background-color: var(--darkgreen);
    color: white;
    font-size: 24px;
    line-height: 34.5px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
}

.how-many:hover{
    background-color: #9FE8DF;
    color: var(--darkgreen);
    cursor: pointer;
}

.label-quantity{
    color: var(--paragraph);
    font-size: 16px;
    line-height: 23.7px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 6px;
}

.input-quantity-num{
    border: 0;
    background-color: var(--input);
    width: 311px;
    height: 48px;
    border-radius: 5px;
    background-image: url(.//images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 19px 17px;
    text-align: right;
    color: var(--darkgreen);
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    padding-right: 17px;
}

.total{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--darkgreen);
    border-radius: 15px;
    padding: 39px 22px 24px 24px;
}

.amount{
    display: flex;
    justify-content: space-between;
}

.amount-container{
    display: flex;
    flex-direction: column;
}

.amount-container h4{
    color: white;
    font-size: 13px;
    line-height: 23.7px;
    font-weight: 700;
}

.amount-container p{
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    color: #7F9D9F;
}

.amount-number{
    font-size: 32px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.67px;
    color: var(--green);
}

.total-amount{
    display: flex;
    justify-content: space-between;
}

.total-amount-container{
    display: flex;
    flex-direction: column;
}

.total-amount-container h4{
    color: white;
    font-size: 13px;
    line-height: 23.7px;
    font-weight: 700;
}

.total-amount-container p{
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    color: #7F9D9F;
}

.total-amount-number{
    font-size: 32px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.67px;
    color: var(--green);
}

.reset{
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    margin-top: 8px;
    height: 48px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 29.6px;
    font-weight: 700;
    color: var(--darkgreen);
}

.reset:hover{
    background-color: var(--green);
    cursor: pointer;
}

@media screen and (min-width:1024px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main{
        flex-direction: row;
        border-radius: 25px;
        gap: 48px;
    }

    section{
        width: 385px;
        margin-top: 13px;
    }

    .input-num{
        width: 100%;
    }

    .percent{
        gap: 14px;
    }

    .percent-p{
        margin-top: 40px;
    }

    .how-many{
        width: 117px;
    }

    #custom{
        max-width: 110px;
        max-height: 47px;
    }

    .label-quantity{
        margin-bottom: 40px;
    }

    .input-quantity-num{
        width: 100%;
    }

    .total{
        min-width: 367px;
        max-width: 367px;
        gap: 53px;
    }

    .amount{
        align-items: center;
    }

    .total-amount{
        align-items: center;
    }

    .amount-number{
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -1px;
    }

    .total-amount-number{
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -1px;
    }

    .reset{
        background-color: #0D686D;
        margin-top: 69px;
    }
    
}

